################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Hoshino.Email/obj/Debug
/src/Hoshino.Email/bin/Debug
/src/.vs/Hoshino.Email/v16/Server/sqlite3
/src/Hoshino.Email.Core/bin/Debug
/src/Hoshino.Email.Core/obj/Debug
/src/Hoshino.Email.Entity/bin/Debug
/src/Hoshino.Email.Entity/obj/Debug
/src/Hoshino.Email.Repository/bin/Debug
/src/Hoshino.Email.Repository/obj/Debug
/src/Hoshino.Email.Services/obj/Debug
/src/Hoshino.Email.Services/bin/Debug
