<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SendWaitTime" value="10"/>
    <add key="ErrorContinue" value="与服务器的传输连接丢失#421 Too many concurrent SMTP connections from this IP address"/>
  </appSettings>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler" />
  </configSections>
  <log4net>
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
    </root>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />
      <param name="StaticLogFileName" value="false" />
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;" />
      <param name="RollingStyle" value="Date" />
      <param name="MaxSizeRollBackups" value="100" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date :[T%thread] %-5level - %message%newline" />
      </layout>
      <!--	  	
		# FATAL
		# ERROR
		# WARN
		# INFO
		# DEBUG
-->

      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="INFO" />
        <levelMax value="FATAL" />
      </filter>
    </appender>
  </log4net>
  <connectionStrings>
    <add name="backstage_connection" connectionString="Server =127.0.0.1; Database =emailmanager; Uid =root; Pwd =123456;Pooling=true; Max Pool Size=100;Min Pool Size=10;Allow Batch=true; Allow User Variables=True;Charset=utf8;default command timeout=300;" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="log4net" publicKeyToken="669e0ddf0bb1aa2a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.8.0" newVersion="2.0.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
